extends layout

block content
  h1 Welcome to #{hostname}

  h2 Server details

  p 
  | Hostname is :  
  em #{hostname}
  

  p Server adresses are : 
  em #{addresses}

  h2 Database connection

  

  h2 Healtchecks





